# build artifacts
/build/
/cmake-build-*/
/CMakeFiles/
/CMakeCache.txt
Makefile
cmake_install.cmake

# ROMs (do not commit)
#roms/
#*.gb
#*.gbc
#*.bin
#*.rom

# Savefiles
*.sav

# tooling
compile_commands.json

# mac
.DS_Store
